<!-- <div class="container-fluid">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-repeat="route in ctrl.states" ui-sref="{{route.name}}">
                    <md-tab-label>
                        {{route.title}}
                    </md-tab-label>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div> -->

<nav class="navbar navbar-default">
    <div layout="row" layout-padding class="navigation" layout-align="space-between center"> 
        <div class="container-fluid">
            <ul class="nav navbar-nav">

              <li>
                <a  class="header" href ui-sref="login"><p>POCKET SAVE</p></a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active" ng-repeat="route in ctrl.states">
                <a  class="header" href ui-sref="{{route.name}}">{{route.title}}</a>
            </ul>
        </div>
    </div>
</nav>
