<div class="container">	
	<md-content layout-padding>
		<div layout="row" layout-align="center center" class="credentials-container">
			<form ng-submit="ctrl.register()" name="ctrl.form">

				<md-input-container class="md-block">
					<label>First Name</label>
					<input required type="text" name="firstName" ng-model="ctrl.user.firstName">
				</md-input-container>

				<md-input-container class="md-block">
					<label>Last Name</label>
					<input required type="text" name="lastName" ng-model="ctrl.user.lastName"/>
				</md-input-container>

				<md-input-container class="md-block" flex="50">
					<label>Email</label>
					<input type="text" name="login" ng-model="ctrl.user.email" ng-pattern="ctrl.patternEmail" required>
					<span class="error" ng-show="ctrl.form.login.$error.pattern">Login is not valid</span>
				</md-input-container>

				<md-input-container class="md-block">
					<label>Password</label>
					<input type="password" name="password" ng-model="ctrl.user.password"  ng-pattern="ctrl.patternPassword" required/>
					<span class="error" ng-show="ctrl.form.password.$error.pattern">Password is not valid</span>
				</md-input-container>

				<div class="credentialsError" ng-if="ctrl.registerError">User with such credentials has already existed</div>

				<div layout="row" layout-align="center center">
					<md-button class="md-primary" type="submit"> add </md-button>
				</div>

		  	</form>
		</div>
	</md-content>
</div>