<div class="container">	
	<md-content layout-padding>
		<div layout="row" layout-align="center center">
			<form ng-submit="ctrl.register()" name="registerForm">

				<md-input-container class="md-block">
				<label>First Name</label>
				<input required type="text" name="firstName" ng-model="ctrl.user.firstName">
				</md-input-container>

				<md-input-container class="md-block">
				<label>Last Name</label>
				<input required type="text" name="lastName" ng-model="ctrl.user.lastName"/>
				</md-input-container>

				<md-input-container class="md-block">
				<label>Email</label>
				<input required type="text" name="email" ng-model="ctrl.user.email"/>   
				</md-input-container>

				<md-input-container class="md-block">
				<label>Password</label>
				<input type="password" name="password" ng-model="ctrl.user.password"  validate-pass required/>
				<span class="error" ng-show="registerForm.password.$error.validatePass">Password is not valid</span>
				</md-input-container>

				<div class="credentialsError" ng-if="ctrl.registerError">User with such credentials has already existed</div>

				<div layout="row" layout-align="center center">
				<md-button class="md-primary" type="submit"> add </md-button>
				</div>

		  	</form>
		</div>
	</md-content>
</div>