<div class="container">
	<md-content layout-padding>
<!-- 
			<span class="labelBalance"><b>Текущий баланс:</b></span>
			<span class="valueBalance">{{ctrl.currentUser.balance}} UAH</span> -->


	  	<div layout="row" class="work-form__row" layout-align="center" layout-wrap>

	    	<div layout="row" layout-align="center center">
	            <md-button class="action" ng-click="ctrl.openCashFlowModal('income')">
	        		Добавить к балансу
	      		</md-button>
	    	</div>
		    <div layout="row" layout-align="center center">
		    	<md-button class="action" ng-click="ctrl.openCashFlowModal('outcome')" >
		        	Списать с баланса
		    	</md-button>
		    </div>
	      
	    </div>

	    <div layout="row" class="work-form__row" layout-align="center" layout-wrap>

	    	<div layout="row" layout-align="center center">
	            <md-button class="action" ng-click="ctrl.openModalCategory('income')">
	        		Категория дохода
	      		</md-button>
	    	</div>
		    <div layout="row" layout-align="center center">
		    	<md-button class="action" ng-click="ctrl.openModalCategory('outcome')" >
		        	Категория расхода
		    	</md-button>
		    </div>
	      
	    </div>

	    <div layout="row" class="work-form__row" layout-align="center" layout-wrap>

	    	<div layout="row" layout-align="center center">
	            <md-button class="action" ng-click="ctrl.openModalPieChart()">
	        		Диаграмма денежнего потока
	      		</md-button>
	    	</div>
		    <div layout="row" layout-align="center center">
		    	<md-button class="action" ng-click="ctrl.openModalGraph()" >
		        	График денежнего потока
		    	</md-button>
		    </div>
	      
	    </div>

		<div class="table-responsive">
			<table class="table table-striped table-bordered text-left">
				<thead>
					<thead>
					<th>Дата</th>
					<th>Сумма (грн)</th>
					<th>Описание</th>
					<th>Категория</th>
				</thead>
				<tbody>
					<tr ng-repeat="history in ctrl.currentUser.balanceHistories" ng-class="{tableRow: history.amount < 0}">
						<td>{{history.date | date:'dd.MM.yyyy'}}</td>	
						<td>{{history.amount}}</td>
						<td>{{history.description}}</td>
						<td>{{history.categories.categoryName}}</td>
		
					</tr>
				</tbody>
			</table>
		</div>
	</md-content>
</div>	