<md-dialog class="modal-outcome">
  <form ng-cloak ng-submit="ctrl.save()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Добавить расход</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
		<div class="md-dialog-outcome">  

      <md-input-container class="md-block" flex="50">
        <label>Категории</label>
        <md-select name="category" ng-model="ctrl.selectedCategory" required>
          <md-option ng-repeat="category in ctrl.user.categories">{{category.categoryName}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
          <label>Описание</label>
          <input required type="text" name="description" ng-model="ctrl.history.description" />
      </md-input-container>

			<md-input-container class="md-block" flex="50">
				<label>Сумма</label>
				<input required type="text" name="sum" ng-model="ctrl.history.amount"/>
			</md-input-container>

		    <div flex-gt-xs>
		      <md-datepicker required ng-model="ctrl.history.date" md-placeholder="date" md-open-on-focus></md-datepicker>
		    </div>

		</div>
	</md-dialog-content>

    <md-dialog-actions layout="row">  
      <span flex></span>
      <md-button ng-click="ctrl.cancel()">
       Cancel
      </md-button>
      <md-button type="submit" class="md-primary">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>	